* {
  font-family: sans-serif; }

body {
  height: 100%;
  padding: 0;
  margin: 0; }

h1.name {
  font-size: 4.5rem;
  font-weight: 1;
  padding-top: 100px;
  text-align: center; }

nav {
  text-align: center;
  padding-bottom: 10%; }
  nav h2 {
    display: inline-block;
    font-size: 5rem;
    margin: 20px; }
    nav h2.page {
      padding-top: 10%; }
    nav h2.disabled {
      opacity: 0.4; }

.music .album1 {
  height: 588px;
  background-color: #434337;
  padding: 40px 15%; }
  .music .album1 .info {
    color: white; }
  .music .album1 iframe {
    height: 588px; }
.music .album2 {
  height: 720px;
  background-color: #36374a;
  padding: 40px 15%; }
  .music .album2 .info {
    color: white; }
  .music .album2 iframe {
    height: 720px; }
.music .album3 {
  height: 555px;
  background-color: purple;
  padding: 40px 15%; }
  .music .album3 .info {
    color: white; }
  .music .album3 iframe {
    height: 555px; }
.music .album4 {
  height: 442px;
  background-color: gray;
  padding: 40px 15%; }
  .music .album4 .info {
    color: black; }
  .music .album4 iframe {
    height: 442px; }
.music .album5 {
  height: 786px;
  background-color: pink;
  padding: 40px 15%; }
  .music .album5 .info {
    color: black; }
  .music .album5 iframe {
    height: 786px; }
.music .album iframe {
  float: left;
  display: inline-block;
  margin-right: 20px; }
.music .album h6 {
  margin: 0 !important;
  font-size: 10px;
  color: gray; }
