/*
TOC
	1. Variables
	2. Content
	3. Mobile
*/
html {
  width: 100%;
  margin-top: -10px;
  overflow: hidden; }

body {
  background-color: #13282D;
  color: white; }

.bgstripe {
  position: absolute;
  height: 100%;
  width: 90%;
  margin: 0;
  padding: 0;
  -webkit-transform: skew(60deg);
      -ms-transform: skew(60deg);
          transform: skew(60deg);
  background: #2B303B;
  z-index: 1; }

.main {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  .main img {
    width: 64px;
    height: 64px; }
    .main img.github {
      float: left;
      margin-left: 25%; }
    .main img.twitter {
      float: right;
      margin-right: 25%; }

h1, p {
  text-align: center;
  font-family: "proxima-nova", sans-serif; }

h1.big {
  font-size: 10em;
  margin-bottom: 0;
  font-weight: 200; }

p.desc {
  font-size: 2em;
  font-weight: bold; }

@media screen and (max-width: 600px) {
  .bgstripe {
    -webkit-transform: skew(30deg);
        -ms-transform: skew(30deg);
            transform: skew(30deg); }
  h1.big {
    font-size: 5em; }
  p.desc {
    text-align: center; }
  .main img.twitter {
    margin-right: 10%; }
  .main img.github {
    margin-left: 10%; } }
