* {
  color: white;
  font-family: avenir, helvetica, arial, sans-serif; }

html, body {
  margin: 0;
  padding: 0; }

div.main {
  height: 300px;
  width: 100%;
  overflow: hidden;
  background-color: #001F3F; }
  div.main h1, div.main p {
    text-align: center;
    vertical-align: middle; }
  div.main h1 {
    font-size: 3em; }
  div.main .profile-pic img {
    width: 50px;
    height: 50px;
    margin: 0 auto; }

div.langs {
  background-color: #02376e;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  div.langs h1 {
    padding: 40px; }
  div.langs .col {
    height: 100px; }
  div.langs .col1, div.langs .col2, div.langs .col3 {
    background-color: rgba(218, 187, 255, 0.4);
    padding: 5px;
    width: 200px;
    height: 150px;
    margin: 10px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center; }

@media screen and (max-width: 400px) {
  div.langs .col {
    width: 90%; } }
