

$max-image-width: 20rem;

// MARK: Containers

.cards {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    align-items: start;
    gap: 1rem;
}

.cards-talks {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto 1fr;
    align-items: stretch;

    @media screen and (max-width: $laptop) {
        grid-template-columns: auto auto;
        justify-content: center;
    }

    @media screen and (max-width: $phone) {
        grid-template-columns: auto;
        justify-content: center;
    }
}

// MARK: Per-card styling

.card-projects {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 1rem;

    img,
    .card-image-placeholder {
        max-width: 100px;
        width: 100px;
        height: 100px;
        display: block;
    }
}

.card-talks {
     // Span 2 rows of the PARENT grid layout
     // We're getting our layout from the parent grid.
     // src: https://blog.logrocket.com/using-css-subgrid-design-advanced-layouts/
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 2;
    gap: 1rem;

    img {
        grid-row: 1/1;
    }

    @media screen and (max-width: $phone) {
        justify-content: center;
        max-width: $max-image-width;
        img {
            margin: 0 auto;
        }
    }
}

// MARK: Individual cards

.card {
    padding: 1.2rem;
    border-radius: 6px;
    border-color: var(--bg-1);
    transition: 0.15s ease-in-out all;

    &:hover {
        cursor: pointer;
        border-color: var(--primary-color);
    }

    &.active {
        border-color: var(--primary-color);
    }

    h1 {
        @include no-link-border;
        font-size: 1.3rem;
        font-family: var(--text-font);
        font-weight: 600;
        margin: 0;
    }

    p {
        font-size: 1rem;
    }

    a {
        border-bottom: none;
    }

    img {
        border-radius: 4px;
        max-height: $max-image-width;
        max-width: $max-image-width;
    }

    .card-info {
        padding: 0;
        display: grid;
        gap: 0.5rem;
        align-content: start;

        h1 {
            margin: 0;
        }

        time {
            font-size: 0.9rem;
        }
    }

    .card-image-bg {
        display: flex;
        align-content: center;
    }

    .card-image-placeholder {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: color-mix(in srgb, var(--text-0) 10%, white);

        i {
            opacity: 1;
            color: black;
            font-size: 1.5rem;
        }
    }

    .card-description {
        margin: 0;

        p {
            margin: 0;
        }
    }

    @media screen and (max-width: $phone) {
        padding: 1rem;
    }
}
