* {
    box-sizing: border-box;
}

body {
    // We want code blocks to be 100vw on mobile.
    margin: 0;
}

.content {
    max-width: 900px;
    margin-bottom: 8rem; // overscroll, anyone?

    &:has(.cards-talks) {
        max-width: 1200px;
    }
}

article {
    display: grid;
    grid-template-areas:
        "header blank"
        "content toc";
    grid-template-rows: auto 1fr;
    grid-template-columns: 100% 300px;

    // Table of contents
    &>ul {
        grid-area: toc;
        position: sticky;
        height: 5rem;
        top: 3rem;
        margin-top: 3rem; // Match content h1
        list-style: none;

        // Any nested lists
        ul {
            list-style: none;
        }

        li a {
            font-size: 0.8rem;
            text-decoration: none;
        }
    }

    .title {
        grid-area: header;
    }

    section.body {
        grid-area: content;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 3rem 0 1rem 0;
    font-size: 1.8rem;
    font-family: var(--header-font);
    font-weight: 500;

    @media screen and (max-width: $phone) {
        margin: 2rem 0 1rem 0;
    }
}

h1 {
    // We only want the `#` on the post's page
    &::before {
        content: none;
    }
    line-height: 2.5rem;
}

h2 {
    line-height: 2rem;
}


header {
    padding: 0;
    margin-top: 6rem;

    h1 {
        @include no-link-border;
        font-size: 1.5rem;
        // font-family: var(--text-font);
        font-weight: 400;
        margin: 0;

        @media screen and (min-width: $phone) {
            margin-top: 5px; // Optical vcenter with nav link bottom borders
        }
    }

    @media screen and (max-width: $phone) {
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
    }
}

img {
    border: none;

    &.almost-max, &.half-center, &.fullwidth, &.overwidth {
        margin: 0 auto;
        display: block;
        border-radius: 5px;
    }

    &.almost-max {
        max-width: 70%;
    }

    &.half-center {
        max-width: 40%;
    }

    &.fullwidth {
        max-width: 100%;
    }

    &.overwidth {

        @media screen and (min-width: $phone) {
            --overflow: 20%;
            max-width: calc(100% + var(--overflow));
            margin: 0 auto;
            margin-left: calc(var(--overflow) / -2);
        }
    }
}

p,
li,
nav a {
    line-height: 1.5;
    font-size: 1.0rem;
}

a {
    border: none;
    text-decoration: underline;
    text-decoration-skip: spaces;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--primary-color);

    &:hover {
        border-radius: 2px;
    }
}

nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;

    a#dark-mode-toggle {
        padding-bottom: 3px; // Optical vcenter

        img {
            vertical-align: middle;
        }
    }

    @media screen and (max-width: $phone) {
        gap: 0.5rem;
        justify-content: center;

        a {
            word-break: none;
        }
    }
}

blockquote {
    border-left: 3px solid rgba(white, 0.5);
}

code {
    font-family: var(--code-font);
    // Reduce slightly to better flow with body font
    font-size: 0.9rem;
}
