* {
    box-sizing: border-box;
}

.content {
    max-width: 900px;
    margin-bottom: 8rem; // overscroll, anyone?
}

h1 {

    // We only want the `#` on the post's page
    &::before {
        content: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 3rem 0 1.5rem 0;
    font-size: 2rem;
    font-family: var(--header-font);
    font-weight: 500;
}

header h1 {
    font-size: 2rem;
    margin: 0;
    margin-top: 5px; // Optical vcenter with nav link bottom borders

    @include no-link-border;
}

img {
    border: none;

    &.almost-max {
        max-width: 70%;
        margin: 0 auto;
        display: block;
        border-radius: 5px;
    }
}

p,
li {
    line-height: 1.5;
    font-size: 1.1rem;
}

a {
    border: none;
    position: relative;
    text-decoration: underline;
    text-decoration-skip: spaces;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--primary-color);
}

nav {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    a#dark-mode-toggle {
        padding-bottom: 3px; // Optical vcenter

        img {
            vertical-align: middle;
        }
    }
}

blockquote {
    border-left: 3px solid rgba(white, 0.5);
}
