
#hero #about-me {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;

    img {
        order: 2;
        max-width: 10rem;
        max-height: 10rem;
        border-radius: 4px;
    }
    p {
        // Woo, optical alignmnet
        margin-top: -7px;
    }

    @media screen and (max-width: $phone) {
        display: block;

        img {
            max-width: 6rem;
            max-height: 6rem;
            float: left;
            margin: 0.5rem 1rem 0 0;
        }
    }
}

.socials {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
}

.social {
    border-bottom: unset;
    background-image: unset;
    padding: 2px;

    .social {
        padding-bottom: 0;

        &>img {
            // wahoo! https://albertwalicki.com/learn/solutions/extra-space-below-image
            display: block;
            width: 30px;
            height: 30px;
        }
    }
}

.social>img {
    border: unset;
    width: 24px;
    height: 24px;
}

.list>ul {
    padding: 0;
    display: grid;
    gap: 0.5rem;
    align-items: center;
    grid-template-columns: auto 1fr;
}

.list-item {
    // emulate subgraph by unwrapping the children
    display: contents;

    p.title {
        font-size: 1.2rem;
        font-weight: 600;
        padding: 0;
        margin: 0;
    }
}
