


.note
    display: flex
    border: 2px solid rgba(yellow, 0.5)
    border-radius: 5px
    // padding: .5rem
    gap: .5rem

    i.fa-note-sticky
        align-self: center
        color: yellow
        font-size: 1rem

