section.body {
    &:not(#hero &) {
        margin: 0 var(--content-margin); // Otherwise, heading octothorpes look weird.
        background-color: black;
    }

    h1 {
        text-indent: -1.5rem; // MAGIC: Leading edge of text flush with body
        &::before {
            color: var(--primary-color);
            content: "# ";
        }
        &:first-child {
            margin-top: 2rem;
        }
    }
}

.content {
    padding: 0 var(--content-padding); // want rem instead of px, + reference later
}

.post-desc-heading {
    display: contents;

    .draft-label {
        font-size: 1rem;
        font-weight: normal;
    }

    .draft-label {
        margin-left: 0;
    }

    h1 {
        margin: 0;
    }
}


.page-title {
    font-family: var(--header-font);
    font-size: 2rem;

    @media screen and (max-width: $phone) {
        // margin: 0;
    }
}

div.title {
    h1.page-title {
        margin-bottom: 0.5rem;
    }

    // Post title styling, but NOT for titles on main page
    &:not(section.list-item .title) {
        display: flex;
        flex-direction: column;
        align-items: center;

        .meta {
            font-family: var(--header-font);
        }
    }

}

.footnote-definition p {
    display: inline;
    font-style: italic;
    opacity: 0.6;
}


// ---- Code blocks

pre {
    padding: 1rem;
    margin: 1rem 0;
    font-size: .8rem;

}

@media screen and (max-width: $phone) {
    pre {
        width: 100vw;
        margin-left: calc(-1 * (var(--content-padding) + var(--content-margin)));

    }
}

// The lang attribute
pre code[class*="language-"]::before {
    display: none;
}

// Highlighted lines of code
pre mark {
    background-color: lighten(#101418, 10%);
    color: inherit;
    padding: 0;
    display: block;
}


pre table td {
    padding: 0;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px;
    overflow: clip;

    th, td {
        background-color: var(--bg-1);
        border: none;
    }
}
