


// MARK: Variables

:root.light, :root.dark {
    --primary-color: rgb(166, 90, 237);
    --text-font: "Lora", "Lato", "Helvetica", sans-serif;
    --header-font: "Noto Sans", sans-serif;
    --code-font: 'Fira Code', monospace; // FIXME: doesn't wanna work in `pre`
}

:root.dark {
    --bg-0: rgb(15, 15, 15);
}


// MARK: Fonts

@font-face {
    font-family: face;
    font-weight: bold;
    src: url("/fonts/Amiri/Amiri-Bold.ttf");
    font-display: swap;
}

@font-face {
    font-family: face;
    font-weight: bolditalic;
    src: url("/fonts/Amiri/Amiri-BoldItalic.ttf");
    font-display: swap;
}

@font-face {
    font-family: face;
    font-weight: italic;
    src: url("/fonts/Amiri/Amiri-Italic.ttf");
    font-display: swap;
}

@font-face {
    font-family: face;
    font-weight: regular;
    src: url("/fonts/Amiri/Amiri-Regular.ttf");
    font-display: swap;
}
