



@import main

$darkTransitionDuration: 0s

body
	animation: toDark forwards $darkTransitionDuration

a
	animation: toLight forwards $darkTransitionDuration 

// Body background color transition
@keyframes toDark
	0%
		background-color: white
		color: black
	100%
		background-color: #111
		color: white

@keyframes toLight
	0%
		color: black
	100%
		color: rgba(white, 0.5)

// As much as I'd love to sass-ify this, it'll take too much time.
a.current
	border-left: 10px solid $codeColor
	color: $codeColor !important


.skills h1
	color: white
	text-align: center


.realContent
	flex: 1	

.skills
	display: flex
	justify-content: space-around

	.skill
		width: 300px
		height: 250px
		border: 1px solid rgba(white, 0.8)

		ul li
			font-family: monospace
			font-size: 1rem
			list-style: square inside

.divider
	width: 100px
	border-bottom: 5px dashed white
	margin: 50px auto
	display: block


.projects
	.project
		border: 1px solid white
		// height: 250px
		margin: 0px auto 30px auto
		padding: 10px 10px 10px 30px
	
	.featured
		display: flex

		.project
			width: 40%

			.info
				display: block
				float: left

			.image
				display: block
				float: right
				width: 200px
				height: 200px
				background-color: rgba(white, 0.25)


	.project-big





