

@use "_timeline";


// --- General

* {
    box-sizing: border-box;
}

:root.light, :root.dark {
    --primary-color: #A65AED;
    --text-font: "Fira Sans", "Helvetica", sans-serif;
    // --code-font: 'Fira Code';
}

// :root.dark {
//     Perhaps. Perhaps. (ayu-dark bg)
//     --bg-0: #0f141d;
// }

.content {
    max-width: 1000px;
    margin-bottom: 8rem; // overscroll, anyone?
}

h1, h2, h3, h4, h5, h6 {
    font-size: 130%;
}

header #title {
    font-size: 150%;
}

img {
    border: none;
}

.page-header {
    margin: 5rem 0 2rem 0;
}

.footnote-definition p {
    display: inline;
    font-style: italic;
    opacity: 0.6;
}

// ---- Nav

nav {
    display: flex;
    gap: 1rem;
}

// ---- Homepage

.socials {
    margin-top: 2rem;
    gap: 10px;

    .social {
        padding-bottom: 0;
        & > img {
            // wahoo! https://albertwalicki.com/learn/solutions/extra-space-below-image
            display: block;
            width: 30px;
            height: 30px;
        }
    }
}

.list>ul {
    padding: 0;
    display: grid;
    gap: 1rem;
    grid-row-gap: 1.5rem;
    grid-template-columns: auto 1fr;
}

.list-item {
    // emulate subgraph by unwrapping the children
    display: contents;
    margin-bottom: 30px;
    a {
        border-bottom: none;
    }
}

.post-desc-heading {
    display: contents;

    .draft-label {
        font-size: 1rem;
        font-weight: normal;
    }

    .draft-label {
        margin-left: 0;
    }

    h1 {
        margin: 0;
    }
}

.page-header {
    font-size: 2.5em;
}


// ---- Code blocks

pre {
    padding: 2rem;
}

// Highlighted lines of code
pre mark {
    background-color: lighten(#101418, 10%);
    color: inherit;
    padding: 0;
    display: block;
}


pre table td {
    padding: 0;
}
