



// MARK: FONTS
// 
// Fira sans font
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,700,700i&display=swap')


// GLOABL STYLES
html, body
	height: 100%

body
	// overflow: hidden

h1,p
	font-family: "Fira Sans", sans-serif


nav
	font-family: "Fira Sans", sans-serif
	text-transform: uppercase
	letter-spacing: 5px // 5px
	font-size: 12.7pt
	text-align: right
	margin-top: 150px
	margin-right: 10%
	color: #333
	z-index: 1

	ul
		list-style-type: none
	
	li
		display: inline
		margin: 5px
		padding-bottom: 5px
		transition: 0.3s all
		user-select: none

		&.active
			border-bottom: 5px solid #AD99D6 !important

		&:hover
			cursor: pointer

		// Ignore the · characters
		// (not in the CSS becuase reasons)
		&.word
			border-bottom: 5px solid white
			
			&:hover
				border-bottom: 5px solid #B68DAA



.effect-outer

	overflow: hidden
	// width: 100%
	// height: 500px
	// background-color: black

	img.effect
		position: absolute
		top: 40px
		left: -5%
		max-width: 105%
		min-width: 2000px
		z-index: -1

// HERO
.hero
	width: 80%
	margin: 0 auto
	// clear: right // Prevent nav from sneaking into hero
	z-index: 1

	h1
		font-size: 70pt
		margin: 0
		margin-bottom: -10px
		color: #333
	
	.social
		font-size: 30pt

		// Wrapping in links, so link overrides default (black) color
		a
			color: white

		i
			padding: 5px

	.info
		background-color: white
		width: 450px
		margin-top: 10px
		padding: 20px
		border-radius: 20px
		box-shadow: rgba(81, 89, 126, 0.2) 0px 0px 50px 0px
		font-style: italic
		font-size: 14pt
		transition: 0.3s all

		&:hover
			transition: 0.3s all
			transform: translateY(10px)

	.cs
		color: #FF0000
	.music
		color: #D600FF



