



@import main

// As much as I'd love to sass-ify this, it'll take too much time.
a.current
	border-left: 10px solid $musicColor
	color: $musicColor !important


.content

// Need to wrap this to override parent style
// (Might not even need CSS, just wrapping div, but
// I'll leave this here for clarity.)
.albums
	flex-direction: row

	& > h1
		font-family: "Nanum Myeongjo", serif
		font-size: 2.2rem
		margin-left: 100px
		border-bottom: 4px solid $musicColor
		display: inline-block
		padding-right: 40px // Creates "extended" effect


.articles
	display: flex 
	flex-direction: row
	flex-wrap: nowrap
	margin: 0
	padding: 0
	margin-left: 100px
	// border-top: 2px solid gray

	.album
		// width: 350px
		// height: 555px
		margin: 30px 30px 30px 0px
		display: inline-block

		// Just a filler for album art
		.imgtemp
			background-color: rgba(black, 0.2)
			height: 100px
			// height: 555px
			margin-bottom: 10px // h1 is annoying w/ margin-top
		
		h1
			// REEEEEEEEE
			margin: 0
			margin-top: 10px

		.tags
			list-style: none
			padding: 0

			li
				display: inline
				border: 1px solid gray
				padding: 4px
				border-radius: 5px