
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');


$font-family-title: "Fira Sans";
$font-family-body: "Fira Code";
$font-family-mono: "Fira Code";

$font-size: 20px;

$logo-width:  80px;
$logo-height: 80px;


// Why this is not a variable is baffling to me
h1, h2, h3, h4, h5, h6,
.h1, .h2 {
    font-family: $font-family-title;
}

h1, .h1 {
    // default: top3rem, bottom1rem
    margin-top: 2rem;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    #nav {
        margin-bottom: 20px;

        #title h1 {
            font-size: 50px;
            line-height: 5rem;
        }

        ul {
            font-size: 1.5rem;
        }

        #logo-link {
            align-self: center;
        }

    }
}

.post-list .post-item .meta {
    font-size: $font-size!important;
}