
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');


$font-family-title: "Fira Sans";
$font-family-body: "Fira Code";
$font-family-mono: "Fira Code";

$font-size: 18px;

$logo-width:  80px;
$logo-height: 80px;


html {
    border-top: none !important;
}

body {
    line-height: 1.4 !important;
    flex: none !important;
}

// Why this is not a variable is baffling to me
h1, h2, h3, h4, h5, h6,
.h1, .h2 {
    font-family: $font-family-title;
}

h1, .h1 {
    // default: top3rem, bottom1rem
    margin-top: 2rem;
}

p {
    text-align: left !important;
}

article .content {
    display: inline-block;
    // Overscroll
    margin-bottom: 20vh;

    h1, h2, h3, h4, h5, h6 {
        font-size: 1.8rem;
        font-weight: 400;

        &::before {
            font-size: 1.8rem !important;
            left: -1.8rem !important;
            top: 0 !important;
        }
    }

    p {
        // No word breaks
        hyphens: none;
    }
}

#header {
    display: flex;
    align-items: center;

    #logo {
        margin-right: 25px !important;
    }

    #nav {
        margin-bottom: 20px;

        #title h1 {
            font-size: 50px;
            line-height: 5rem;
        }

        ul {
            font-size: 1.5rem;

            .active {
                color: $color-active !important;
            }
        }

        #logo-link {
            align-self: center;
        }

    }
}

.post-list .post-item .meta {
    font-size: $font-size!important;
}

#music {
    table {
        display: block;
        width: 100%;
    }
}