<!-- TODO -->
<!-- <link rel="icon" type="image/png" href="{{ "images/favicon.ico"  | absURL }}" /> -->

<link rel="apple-touch-icon" sizes="180x180"    href ="{{ "favicon/apple-touch-icon.png" | absURL }} ">
<link rel="icon" type="image/png" sizes="32x32" href ="{{ "favicon/favicon-32x32.png" | absURL }} ">
<link rel="icon" type="image/png" sizes="16x16" href ="{{ "favicon/favicon-16x16.png" | absURL }} ">
<link rel="manifest"                            href ="{{ "favicon/site.webmanifest" | absURL }}">
<link rel="mask-icon"                           href ="{{ "favicon/safari-pinned-tab.svg" | absURL}} " color="#333333">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">


