
<section id="music">
    <h1>Music</h1>
    <p>I'm also a composer!</p>
    <p>My work can be found in one of two places:</p>
    <ul class="project-list">
        <li class="project-item">
          <a href="https://bit.ly/peterkos-portfolio-2020">Music Portfolio:</a>
          <p>Orchestral, chamber, solo pieces.</p>
        </li>
        <li class="project-item">
          <a href="https://peterkos.bandcamp.com">Bandcamp:</a>
          <p>Electronic, pop, dubstep hybrid songs.</p>
        </li>
    </ul>
</section>
