
{% extends "base.html" %}


{% block main_content %}


    <!-- Custom hero -->
    {{ post_macros::page_header(title="About Me") }}

    <section class="body">
        <!-- Put the about header content in markdown 'cause easier lol -->
        {% set section = get_section(path="./_index.md") %}
        {% if section %}
            {{ section.content | safe }}

            <div class="socials">
                {% for social in config.extra.socials %}
                    <a rel="me" href="{{ social.url }}" class="social">
                        <img alt={{ social.name }} src="/social_icons/{{ social.icon }}.svg">
                    </a>
                {% endfor %}
                <!-- Note: match width to custom.css .socials > img -->
                <!-- Edited for transparency, 60% of speed, reversed -->
                <!-- https://www.deviantart.com/valcreon/art/Nyan-Cat-212131133 -->
                <img src="./nyan.gif" height="30px">
            </div>
        {% endif %}


    </section>



    <!-- Custom posts section here -->
    {% if section.extra.nested_section_path -%}
        {% set section = get_section(path=section.extra.nested_section_path) %}
    {% endif -%}

    {{ post_macros::page_header(title=section.title) }}

    <main class="list">
        {%- if paginator %}
            {%- set show_pages = paginator.pages -%}
        {% else %}
            {%- set show_pages = section.pages -%}
        {% endif -%}

        {{ post_macros::list_posts(pages=show_pages) }}
    </main>

    {% if paginator %}
        <ul class="pagination">
            {% if paginator.previous %}
                <span class="page-item page-prev">
                    <a href={{ paginator.previous }} class="page-link" aria-label="Previous"><span aria-hidden="true">← Prev</span></a>
                </span>
            {% endif %}

            {% if paginator.next %}
                <span class="page-item page-next">
                    <a href={{ paginator.next }} class="page-link" aria-label="Next"><span aria-hidden="true">Next →</span></a>
                </span>
            {% endif %}
        </ul>
    {% endif %}
{% endblock main_content %}
