

{% extends "hyde/templates/index.html" %}


{% block extra_head %}
<head>
    <!-- GFonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="{{ get_url(path="custom.css", trailing_slash=false) }}">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180"    href ="{{ get_url(path="favicon/apple-touch-icon.png") }} ">
    <link rel="icon" type="image/png" sizes="32x32" href ="{{ get_url(path="favicon/favicon-32x32.png") }} ">
    <link rel="icon" type="image/png" sizes="16x16" href ="{{ get_url(path="favicon/favicon-16x16.png") }} ">
    <link rel="manifest"                            href ="{{ get_url(path="favicon/site.webmanifest") }}">
    <link rel="mask-icon"                           href ="{{ get_url(path="favicon/safari-pinned-tab.svg")}} " color="#333333">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Friendly analytics courtesy of umami.is -->
    <script async defer data-website-id="99946fb4-dcf8-4aa9-a7b0-e2d0876fb29c" src="https://umami.peterkos.me/umami.js"   data-do-not-track="true"></script>

</head>
{% endblock extra_head %}


{% block sidebar %}
    <div class="sidebar">
            <div class="sidebar-image">
                <img id="logo" src="{{ get_url(path="logo1.svg") }}">
            </div>

            <div class="sidebar-about">
                {% block sidebar_about %}
                    <a href="{{ config.base_url }}"><h1>{{ config.title }}</h1></a>
                    {% if config.description %}
                    <p class="lead">{{config.description}}</p>
                    {% endif %}
                {% endblock sidebar_about %}
            </div>

            <ul class="sidebar-nav">
                {% block sidebar_nav %}
                {% for link in config.extra.hyde_links %}
                <li class="sidebar-nav-item"><a href="{{link.url}}">{{link.name}}</a></li>
                {% endfor %}
                {% endblock sidebar_nav %}
            </ul>
        </div>
    </div>
{% endblock sidebar %}


{% block content %}
    <div id="talks">

        <h1>Talks</h1>
        <p><i>Various talks I've given, most at RIT.</i></p>

        <div id="talks-wrap">
            <div class="talk">
                <div class="template"></div>
                <p>Intermediate Git</p>
            </div>
            <div class="talk">
                <div class="template"></div>
                <p>Beginner Git</p>
            </div>
            <div class="talk">
                <div class="template"></div>
                <p>Distributed Systems: Paper Summary (CSCI 761)</p>
            </div>
        </div>
    </div>

    <div class="posts">
        <h1>Blog</h1>
        <p><i>Various words I've said, most at the computer.</i></p>

        <!-- Needed to remove the reverse! -->
        {% for page in section.pages %}
          <div class="post">
            <h2 class="post-title">
              <a href="{{ page.permalink }}">
                {{ page.title }}
              </a>
            </h2>

            <span class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</span>
          </div>
        {% endfor %}
    </div>
{% endblock content %}
