<header>
    <!-- <div id="header-main"> -->
        <a href={{ config.base_url }} id="title">{{ config.title }}</a>

        <!-- <div class="socials">
            {% for social in config.extra.socials %}
            <a rel="me" href="{{ social.url }}" class="social">
                <img alt={{ social.name }} src="/social_icons/{{ social.icon }}.svg">
            </a>
            {% endfor %}
        </div> -->
    <!-- </div> -->

    <nav>
        {% for menu in config.extra.menu %}
            <a href={{ menu.url }}>{{ menu.name }}</a>
        {% endfor %}
        <a id="dark-mode-toggle" onclick="toggleTheme()" href=""></a>
        <script src={{ get_url(path="js/themetoggle.js" ) }}></script>
    </nav>
</header>