@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,400i,700|Fira+Mono:400,700");
p, a {
  font-family: "Nanum Myeongjo", serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Fira Mono", monospace;
  font-weight: 400; }

#map {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 500px;
  height: 20%;
  z-index: 100; }

.title {
  margin-left: 4%;
  margin-bottom: 2%; }
  .title h1 {
    font-size: 5rem;
    margin-bottom: 0;
    margin-left: -19px; }

.content, .twoCol {
  display: flex; }

.sidebar {
  display: inline-block;
  margin-left: 4%; }
  .sidebar ul {
    padding-left: 0;
    margin-top: 0; }
  .sidebar ul li {
    font-size: 1.5rem;
    list-style: none; }
    .sidebar ul li a {
      text-decoration: none;
      color: black;
      transition: all 0.1s; }
      .sidebar ul li a.current {
        margin-left: -20px;
        padding-left: 10px; }
  .sidebar .home:hover {
    color: #f47c7c !important; }
  .sidebar .code:hover {
    color: #70a1d7 !important; }
  .sidebar .music:hover {
    color: #a1de93 !important; }
  .sidebar .contact:hover {
    color: #f7c28b !important; }

.articles {
  margin-top: 10%;
  margin-left: 5%;
  self-align: flex-start; }
  .articles .article {
    display: inline-block;
    margin: 0 auto;
    width: 60vw;
    padding-left: 40px; }
    .articles .article p:first-child {
      margin-top: -2px; }

body {
  animation: toDark forwards 0s; }

a {
  animation: toLight forwards 0s; }

@keyframes toDark {
  0% {
    background-color: white;
    color: black; }
  100% {
    background-color: #111;
    color: white; } }

@keyframes toLight {
  0% {
    color: black; }
  100% {
    color: rgba(255, 255, 255, 0.5); } }

a.current {
  border-left: 10px solid #70a1d7;
  color: #70a1d7 !important; }

.skills h1 {
  color: white;
  text-align: center; }

.realContent {
  flex: 1; }

.skills {
  display: flex;
  justify-content: space-evenly; }
  .skills .skill {
    width: 300px;
    height: 250px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    transition: 0.4s all; }
    .skills .skill:hover {
      border: 7px solid #70a1d7; }
    .skills .skill ul li {
      font-family: monospace;
      font-size: 1rem;
      list-style: square inside; }

.divider {
  width: 100px;
  border-bottom: 5px dashed white;
  margin: 50px auto;
  display: block; }

.projects .project {
  border: 1px solid white;
  margin: 0 auto;
  padding: 10px 10px 10px 30px;
  transition: 0.4s all; }
  .projects .project:hover {
    border: 7px solid #70a1d7; }

.projects .featured {
  display: flex;
  margin-bottom: 50px; }
  .projects .featured .project {
    width: 40%; }
    .projects .featured .project .info {
      display: block;
      float: left; }
    .projects .featured .project .image {
      display: block;
      float: right;
      width: 200px;
      height: 200px;
      background-color: rgba(255, 255, 255, 0.25); }

.projects .other {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 30px 30px;
  justify-content: center; }
  .projects .other .project {
    width: 300px;
    height: 300px; }


/*# sourceMappingURL=code.f98496cb.css.map */